* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans Glagolitic", sans-serif;
}

body {
    background-color: #F9F9F9;
    color: #242424;
}

.container {
    display: grid;
    grid-template: 
        'header' 80px
        'main' minmax(80px, 1fr)
        'footer' 80px;
    gap: 1rem;
}

main {
    display: grid;
    grid-template: 
        'popular-quotes'
        'author-quotes'
        'celebrity-quotes';
    gap: 1rem;
    line-height: 2rem;
    justify-content: center;
    margin-bottom: 10px;
}

main h2 {
    margin: 20px;
}

article {
    display: grid;
    grid-template: 
        'figure summary' / 100px 60ch;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

article:nth-child(even) {
    background-color: #E5E5E5;
}

summary p {
    font-size: 20px;
}

summary strong {
    font-size: 18px;
}

figure {
    height: 100px;
}

header, footer {
    display: grid;
    padding: 20px;
    align-items: center;
}

header {
    border-bottom: solid 1px #E5E5E5;
}

footer {
    border-top: solid 1px #E5E5E5;
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}