/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* GENERIC STYLES */
h1 {
    padding-left: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

article {
    margin: 50px 20%;
}

h2 {
   font-size: 30px;
   text-decoration: underline;
}

/* HEADER */
header {
    display: grid;
    align-content: center;
    height: 100px;
    background-color: darkred;
}

/* MAIN */
.winnie-quote-container {
    display: grid;
    grid-template-rows: auto 20px;
    gap: 10px;
    align-content: center;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 6px palegoldenrod;
    padding: 0 5%;
    margin: 30px 0;
    text-align: center;
    background-color: palegoldenrod;
}

.tigger-quote-container {
    display: grid;
    grid-template-rows: auto 20px;
    gap: 10px;
    justify-items: center;
    align-content: center;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 6px orange;
    padding: 0 5%;
    margin: 30px 0;
    text-align: center;
    background-color: orange;
}

.eeyore-quote-container {
    display: grid;
    grid-template-rows: auto 20px;
    gap: 10px;
    justify-items: center;
    align-content: center;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 6px lightsteelblue;
    padding: 0 5%;
    margin: 30px 0;
    text-align: center;
    background-color: lightsteelblue;
}

.piglet-quote-container {
    display: grid;
    grid-template-rows: auto 20px;
    gap: 10px;
    justify-items: center;
    align-content: center;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 6px lightpink;
    padding: 0 5%;
    margin: 30px 0;
    text-align: center;
    background-color: lightpink;
}

p {
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
    align-self: center;
}

span {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 12px;
    display: grid;
    justify-self: end;
    align-self: center;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: darkred;
}
