* {
    margin: 0px;
    font-family: 'Young Serif', serif;
}

header {
    background-color: rgb(251, 140, 48);
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: solid rgb(255, 110, 32) 5px;
    box-shadow: rgb(248, 103, 25) 0px 10px 30px;

}

main {
    margin: 0px 20%;
}

.quote {
    color: rgb(0, 0, 0);
    text-shadow:  rgb(255, 254, 254) 3px 3px 5px;
    box-shadow: red 3px 2px 10px;
    border: solid rgb(253, 90, 90) 3px;
    background-color: rgba(255, 0, 0, 0.472);
    line-height: 1.5;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.author-name {
    padding-top: 10px;
    text-align: end;
}

h1 {
    padding-top: 10px;
}

.scientist-quotes .quote {
    background-color: rgba(255, 133, 2, 0.556);
    border-color: rgb(239, 85, 7);
}