* {
    margin: 0;
}

.truculenta-titles {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


body {
    background-color: rgb(43, 43, 44);
}


header {
    background-color: rgb(96, 70, 110);
    padding-left: 1rem;
    line-height: 3rem;
    box-shadow: 1px 7px 15px rgb(149, 60, 60);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: tourney;
    color: rgb(192, 138, 46);
    font-size: 28px;
}




nav {
    background-color: rgb(36, 95, 95);
    line-height: 2rem;
    padding-left: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: truculenta;
    font-size: 26px;
}

nav a {
    text-decoration: none;
    color: rgb(205, 197, 110);
}

.go-to-top {
    text-decoration: none;
    color: rgb(205, 197, 110);
}

main {
    margin: 20px 20%;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    place-items: center;
    gap: 10px;
}

article {
    display: grid;
    grid-template:
        'title' 50px
        'quotes' auto;
    gap: 2.5rem;
    margin-top: 2rem;
    color: rgb(216, 213, 177);
}

article h2 {
    grid-area: title;
    padding: 1rem 5rem;
    align-self: center;
    background-color: rgb(38, 101, 160);
    font-family: truculenta;
    font-size: 32px;
}

.quotes {
    grid-area: quotes;
    display: grid;
    grid-template-rows: auto;
    gap: 1.2rem;
}

section {
    background-color: rgb(30, 90, 90);
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5rem;
    display: grid;
    grid-template:
        'quote space'
        'quote book' /
        3fr 1fr
    ;
}

section:nth-of-type(odd) {
    background-color: rgb(45, 63, 70);
}


span {
    grid-area: book;
    /* margin-left: 80%; */
    font-style: italic;
    color: rgb(155, 148, 69);
}